.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
}

.btn{
    width: 170px;
    height: 40px;
    background-color: rgb(10, 172, 10);
    color: white;
    border: none;
    border-radius: 5px;
}
.logo{
    width: 50px;
    height: 50px;
}



.main{
   padding-left: 50px;
    display: flex;
    background-color: rgb(241, 239, 239);
}

.text h1,.text h2 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    

}
.text p{
    font-size: 20px;
    color: rgb(132, 129, 129);
    padding-left: 30px;
}
.person{
    margin-left:200px;
    width: 400px;
    height: 400px;
}

.client{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.client_text h1{
    transform: translateX(90px);
}
.client_text p{
    color: rgb(132, 129, 129);
   
}

.random_logo{
    display: flex;
    gap: 20px;
    height: 15px;
    width:fit-content

}
.card-formate{
    display: flex;
    gap: 12px;
    
}

.card1, .card2 , .card3{
    padding-left:9px;
    border: 1px solid rgb(186, 213, 186);
    border-radius: 5px;
    width: 450px;
    box-shadow: 2px 2px 2px rgb(153, 178, 153);

}



.card_image{
    display: block;
    width:90px;
    height:90px;
   margin:0 auto;
}


.spend{
    display: flex;
    gap: 20px;
    padding-left: 50px;
}
.unseen{
    margin: auto;
    padding-left:45px;
}

.unseen p{
    color: rgb(132, 129, 129);
    padding-left:25px;
}
.unseen h1{
    font-size:50px;
    color: rgb(99, 101, 101);
}




.local{
    display: grid;
    background-color: rgb(236, 234, 234);
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: 200px;
}

.small_card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 60px;
} 

.small_card_image{
    width: 50px;
    height: 50px;
}

.c1,.c2,.c3,.c4{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 40px;
    gap: 5px;
}






.Helping {
    width:100%;
}

.site_footer_design{
    display: flex;
    gap: 10px;
}


.site_footer_design_text h1{
    padding-top: 200px;
 
    padding-left: 20px;

}

.site_footer_design_text p{

   padding-left: 20px;

}

.site_footer_design_text  btn{
    padding-left: 20px;
}


.merchandise{
    padding-left: 20px;
    display: flex;
    background-color: rgb(241, 239, 239);
}


.merchandise_logo_text p,h1{
    padding-left: 30px;
    color: rgb(144, 154, 144);
}

.customer_logo{
    display: flex;
       gap:25px;
       flex-direction: row;
    padding-left:30px;
    height: 35px;
    width: 35px;
 
}

.btn_customer{
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: rgb(10, 172, 10);
    border: none;
    border-radius: 5px;
    padding-left: 80%;
}
.demo{
    display: flex;
    flex-direction: row;
    gap:40px;
}

.demo h1{
    font-size: 75px;
    padding-left: 30%;
}

.footer{
    display: flex;
    background-color: seagreen;
    color: white;
    gap:20px;
}

.company, .support{
    font-size: 20px;
    padding-left: 110px;
    padding-top: 20px;
}

.list2{
    list-style: none;
}

.email_address{
    width: 200px;
    height: 30px;
    border: 1px solid rgb(23, 172, 23);
    border-radius: 5px;
}

.copyright{
    padding-left: 30px;
}

.c1_text,.c2_text,.c3_text,.c4_text{
    display: flex;
    flex-direction: column;
    gap:0.5px;
}
