.navbar {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 3rem;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: var(--font-roboto);
  font-size: 1.8rem;
  color: #f9d3b4;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  gap: 2rem;
}

.nav-right a {
  text-decoration: none;
  font-family: var(--font-raleway);
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #ffffffaa;

  position: relative;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #ff3b3b;
}

/* underline animation */
.nav-right a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: linear-gradient(90deg, #ff0000, #7a0000);
  transition: width 0.3s ease;
}

.nav-right a:hover::after {
  width: 100%;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem;
  }

  .nav-right {
    gap: 1.2rem;
  }

  .logo {
    font-size: 1.4rem;
  }
}
